---
type Variant = 'site' | 'page'

interface Props {
  variant: Variant
}

const { variant } = Astro.props
---

{
  variant === 'site' && (
    <p class="visit-stats">
      <span id="busuanzi_container_site_uv">
        访客：
        <span id="busuanzi_value_site_uv">-</span>
      </span>
      <span id="busuanzi_container_site_pv">
        访问：
        <span id="busuanzi_value_site_pv">-</span>
      </span>
    </p>
  )
}

{
  variant === 'page' && (
    <span id="busuanzi_container_page_pv" class="visit-stats">
      阅读：
      <span id="busuanzi_value_page_pv">-</span>
    </span>
  )
}

<style>
  .visit-stats {
    --at-apply: 'text-3 text-op-75';
  }
</style>
